 <h1>Toby Jones Demo Site</h1>
	  

		<p>I created this Ruby on Rails site to demo my newer skills 
		that I haven't used as a professional yet. It's 
		existence proves that I can:<ul>
		<li>Install rails, <span class="glyphicon glyphicon-ok-circle"></span></li>
		<li>Configure AWS,  <span class="glyphicon glyphicon-ok-circle"></span></li>
		<li>Do some basic Ruby stuff, and  <span class="glyphicon glyphicon-ok-circle"></span></li>
		<li>Manage Elastic Beanstalk to deploy my custom code. <span class="glyphicon glyphicon-ok-circle"></span></li>
		
		</ul> 
		I'm using a Linux Mint command line.
		</p>
		<p>
		I don't claim to be a great designer, but can reproduce most front-end 
		styles. I used Bootstrap for a starting place here. I am proficient 
		with Javascript, HTML5, and CSS. I have recently learned SCSS.
		</p>
		<p>I've been a software developer/engineer/analyst for over 10 
		years. I've spent most of that time developing at all levels in the LAMP 
		stack. I've also done professional work building desktop 
		applications in DotNet C#, C, Java, and various scripting languages. 
		Everything I've learned about Ruby on Rails so far leads me to 
		believe it's the best path for my career.
		</p>
  

