<footer class="footer" >
	 <div class="row text-center">
		<div class="text-center"><p>This page is generated from a Ruby on Rails app hosted on AWS EC2. </p> <p>&copy; 2017 Toby Jones</p></div>
	</div>
</footer>
