<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Toby Jones Demo</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/">Home</a></li>
      <li><a href="/react_demo/index">React</a></li>
      <li><a href="/bootstrap_demo/index">Bootstrap</a></li>
      <li><a href="/post_to_databases">Rails DB Scaffold</a></li>
    </ul>
  </div>
</nav>
